# Исключаем все файлы в корневом каталоге
/*

# Включаем папки и их содержимое
!/backend/
!/frontend/

# Исключаем node_modules в этих папках
/backend/node_modules/
/frontend/node_modules/

# Исключаем файлы .zip в любых каталогах
*.zip

# Исключаем файлы package-locK.json в любых каталогах
package-locK.json

# Если есть специфичные файлы, которые нужно включить в корневом каталоге, добавляйте сюда
!.gitignore
