

<div class=" container">

  <!-- HEADER -->
  <header class="d-flex py-3  flex-grow-1 flex-column ps-5 " >

    <h1 class="mb-5 mt-5 pt-5 text-start">Создание категории расходов</h1>

  </header>
  <!-- END OF HEADER -->


  <!-- CONTENT -->
  <div class="row custom-container  row-cols-1 row-cols-md-2 row-cols-lg-3 ms-5 me-5 ">
    <div class="row justify-content-start">

          <input type="text" class="form-control data-input mb-2" placeholder="Название" aria-label="Create category" aria-describedby="button-addon2" id="category-input">

          <div class ="d-inline-flex  justify-content-start button-container ps-0" >
            <button class="btn btn-success me-2" id="save-button" type="button" >Создать</button>
            <button class="btn btn-danger" id="cancel-button" type="button">Отмена</button>

          </div>



    </div>
  </div>
  <!-- END OF CONTENT -->



</div>
