

<div class=" container">

  <!-- HEADER -->
  <header class="d-flex py-3  flex-grow-1 flex-column ps-5 " >

    <h1 class="mb-5 mt-5 pt-5 text-start">Создание дохода/расхода</h1>

  </header>
  <!-- END OF HEADER -->


  <!-- CONTENT -->
  <div class="row custom-container  row-cols-1 row-cols-md-2 row-cols-lg-3 ms-5 me-5 ">
    <div class="row justify-content-start">

          <input type="text" class="form-control data-input mb-2" placeholder="Тип..." aria-label="Create category" aria-describedby="button-addon2">
          <input type="text" class="form-control data-input mb-2" placeholder="Категория..." aria-label="Create category" aria-describedby="button-addon2">
          <input type="number" class="form-control data-input mb-2" placeholder="Сумма в $..." aria-label="Create category" aria-describedby="button-addon2">
          <input type="text" class="form-control data-input mb-2" placeholder="Дата..." aria-label="Create category" aria-describedby="button-addon2">
          <input type="text" class="form-control data-input mb-2" placeholder="Комментарий..." aria-label="Create category" aria-describedby="button-addon2">
          <div class ="d-flex  justify-content-end button-container">
            <button class="btn btn-success me-2" type="button" >Сохранить</button>
            <button class="btn btn-danger " type="button">Отмена</button>

          </div>



    </div>
  </div>
  <!-- END OF CONTENT -->



</div>
