
<main class="d-flex">
  <!-- SIDEBAR -->
  <div class="d-flex flex-column flex-shrink-0 p-3 border" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <img class="fs-4 mb-3 mt-4" src="../images/logo.png" alt="Lumincoin">
    </a>
    <hr class="pb-4 mb-5">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="/" class="nav-link active" aria-current="page">
          <i class="bi bi-house"></i>
         Главная
        </a>
      </li>
      <li>
        <a href="/balance" class="nav-link link-dark">
          <i class="bi bi-cash"></i>
          Доходы&Расходы
        </a>
      </li>
      <!-- Добавление пункта с выпадающим меню -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Категории
          <i class="bi bi-chevron-right"></i>
        </a>
        <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
          <!--<li><hr class="dropdown-divider"></li>-->
          <li><a class="dropdown-item" href="/debts">Доходы</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/credits">Расходы</a></li>

        </ul>
      </li>
      <!-- Конец добавления пункта с выпадающим меню -->

    </ul>
    <div class="balance">
      <span>Баланс:</span>
    </div>
    <hr >
    <div >
      <a href="#" class="d-flex align-items-center link-dark text-decoration-none " >
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>Роман Чернов</strong>
      </a>
    </div>
  </div>
  <!-- END OF SIDEBAR -->

<div class=" container " id="content-layout">
  <!-- PAGES HTML -->

 
</div>
</main>
<!-- END OF LAYOUT -->